beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
comtypes==1.1.4
cycler==0.10.0
googletrans==2.2.0
html5lib==1.0.1
httplib2==0.11.3
httpsproxy-urllib2==1.0
idna==2.6
kiwisolver==1.0.1
lxml==4.2.1
matplotlib==2.2.2
numpy==1.14.3
opencv-python==3.4.1.15
pandas==0.23.1
Pillow==5.1.0
psutil==5.4.6
pykiwoom==0.0.1
pymssql==2.1.3
PyMySQL==0.8.1
pyparsing==2.2.0
pypiwin32==223
PyQt5==5.10.1
python-dateutil==2.7.3
pytz==2018.4
pywin32==223
pywinauto==0.6.4
requests==2.18.4
sip==4.19.8
six==1.11.0
urllib3==1.22
webencodings==0.5.1
